<% layout('boilerplate') -%>
<%- include('./partial/navBar.ejs') %> 
<main class="container col-12 mt-5 p-0 aboutUsPage"> 
<%- include('./partial/flash.ejs') %>  

<section class="timelineHead">
    <button id="btnScrollUp">
        <span class="material-icons md-48">arrow_upwards</span>
      </button>
    <h1>Heng Thai History & Achievements</h1>
        <div class="card timelineIntro border-0">
            <div class="introImage">
                <img src='https://res.cloudinary.com/dplfqp7kf/image/upload/c_scale,e_redeye,h_250,q_100,w_350/v1635976186/Heng%20Thai/qv0jwyd8yuumcbqpedr4.jpg' class="img-fluid rounded-start" alt="...">
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium blanditiis natus ratione doloribus expedita quam aperiam minus cum obcaecati iste, voluptas suscipit perferendis corrupti iure, molestias accusamus, inventore consequatur dolor. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis adipisci atque quibusdam cumque facilis! Suscipit natus laborum nesciunt aperiam consequatur, repudiandae sequi laudantium, sint minima cumque ipsa vero maiores libero.
            </div>
        </div>
    <h5>Scroll down to explore more of Heng Thai's History &darr;</h5>
</section>
<section class="spacing2 first">
    <h1>The Beginning</h1>
</section>
<section class="timeline timeline-infinite">
    <ul>
        <section class="timeSection firstSection">
            <li>
                <div class="card timeCard">
                    <img src='https://res.cloudinary.com/dplfqp7kf/image/upload/c_scale,e_redeye,h_750,q_100,w_1000/v1636069811/Heng%20Thai/kee98eeyoqfrlsc9q2rj.jpg' class="img-fluid rounded-start" alt="...">
                    <span><b>time</b></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non expedita harum ipsum quia maiores suscipit iure porro in reiciendis, aspernatur eligendi officia accusamus nostrum omnis pariatur necessitatibus magnam eius! Ad.
                </div>
            </li>
        </section>
        <section class="spacing1"></section>
        <section class="spacing2">
            <h1>Building Relationships</h1>
        </section>
        <section class="timeSection secondSection">
            <li>
                <div class="card timeCard two">
                    <img src='https://res.cloudinary.com/dplfqp7kf/image/upload/c_scale,e_redeye,h_750,q_100,w_1000/v1636069811/Heng%20Thai/kee98eeyoqfrlsc9q2rj.jpg' class="img-fluid rounded-start" alt="...">
                    <span><b>time</b></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, nemo sit perferendis consectetur dolor ratione dolore unde recusandae velit placeat corporis sed quod cum quasi itaque commodi aliquam perspiciatis ea.
                </div>
            </li>
        </section>
        <section class="spacing1"></section>
        <section class="spacing2">
            <h1>Building A Strong Reputation </h1>
        </section>
        <section class="timeSection thirdSection">
            <li>
                <div class="card timeCard">
                    <img src='https://res.cloudinary.com/dplfqp7kf/image/upload/c_scale,e_redeye,h_750,q_100,w_1000/v1636069811/Heng%20Thai/kee98eeyoqfrlsc9q2rj.jpg' class="img-fluid rounded-start" alt="...">
                    <span><b>time</b></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, necessitatibus qui sunt ut fugit officiis dolorem provident aperiam! Quae amet atque totam esse repellat omnis. Dolorum quasi tempore voluptatem quis!
                </div>
            </li>
        </section>
        <section class="spacing1"></section>
        <section class="spacing2">
            <h1>Reaching New Heights</h1>
        </section>
        <section class="timeSection fourthSection">
            <li>
                <div class="card timeCard">
                    <img src='https://res.cloudinary.com/dplfqp7kf/image/upload/c_scale,e_redeye,h_750,q_100,w_1000/v1636069811/Heng%20Thai/kee98eeyoqfrlsc9q2rj.jpg' class="img-fluid rounded-start" alt="...">
                    <span><b>time</b></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quae quaerat, nulla itaque ut dolorem facere iusto debitis dignissimos minus quos soluta aperiam accusamus, laboriosam ea quasi, ipsa pariatur.
                </div>
            </li>
        </section>
        <section class="spacing1"></section>
        <section class="spacing2">
            <h1>Building a Legancy</h1>
        </section>
        <section class="timeSection fifthSection">
            <li>
                <div class="card timeCard">
                    <img src='https://res.cloudinary.com/dplfqp7kf/image/upload/c_scale,e_redeye,h_750,q_100,w_1000/v1636069811/Heng%20Thai/kee98eeyoqfrlsc9q2rj.jpg' class="img-fluid rounded-start" alt="...">
                    <span><b>time</b></span>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quis modi. Ut ad delectus animi exercitationem, asperiores culpa nostrum placeat alias nihil odit iure veritatis voluptatum veniam id reprehenderit illum.
                </div>
            </li>
        </section>
        <section class="spacing1"></section>
        <section class="spacing2">
            <h1>Continued Excellence</h1>
        </section>
        <section class="timeSection sixthSection">
            <li>
                <div class="card timeCard">
                    <img src='https://res.cloudinary.com/dplfqp7kf/image/upload/c_scale,e_redeye,h_750,q_100,w_1000/v1636069811/Heng%20Thai/kee98eeyoqfrlsc9q2rj.jpg' class="img-fluid rounded-start" alt="...">
                    <span><b>time</b></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laudantium quasi porro molestiae incidunt sunt, eaque, repudiandae ullam atque accusamus nihil nemo tempore, harum distinctio culpa amet?
                </div>
            </li>
        </section>
    </ul>
</section>


<script type="text/javascript" src="/javascripts/timeline.js"></script>

<script type="text/javascript" src="/javascripts/scrollUpBtn.js"></script>
</main>

<%- include('./partial/footer.ejs') %> 