<div>
    <footer class="footer justify-content-between">
      <p class="copyright col-md-5 justify-content-md-start d-none d-md-block">&copy; Heng Thai 2021</p>
  
      <a href="/home" class="footerHomeLink col-md-2 mb-md-0 me-md-auto link-dark">
        <img src="/images/HTLogo.png" alt="" class="footerImage">
      </a>
  
      <ul class="nav col-md-5 justify-content-md-end">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/aboutUs" class="nav-link">About Us</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact Us</a></li>
      </ul>
    </footer>
</div>